<% if user_signed_in? %>
  <h2>Available Rooms</h2>
  <br>
  <div class="row">
    <% @chatrooms.each do |chatroom| %>
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
            <%= chatroom.name %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <%= link_to 'Join', chatroom_chatroom_users_path(chatroom), class: "dropdown-item", method: :post %>
            <%= link_to 'Edit', edit_chatroom_path(chatroom), class: "dropdown-item"%>
            <hr>
            <%= link_to 'Leave',  chatroom_chatroom_users_path(chatroom), method: :delete, class: "dropdown-item" %>
          </ul>
        </div>
        &nbsp;
      </div>
    <% end %>       
  </div>
  <br>
  <%= paginate @chatrooms %>
  <%= page_entries_info @chatrooms %> 
  <hr>
  <%= button_to 'Create New Room', new_chatroom_path, class: "btn btn-primary", method: :get %>
<% else %>
  <div>
    <h3><strong>Log in or Sign up to join</strong></h3><br>
    <%= button_to "Sign Up", new_user_registration_path, class: "btn-primary btn-lg", method: :post %> <br>
    <%= button_to "Log In", new_user_session_path, class: "btn-success btn-lg", method: :post %>
  </div>
<% end %>
